<div class="ui piled segment">
  <h5 class="ui left floated sub header">
    IMAGES
  </h5>
  <h5 class="ui right floated sub header">
    <i class="small exchange icon"></i> SHUFFLE
  </h5>
  <div class="ui divider"></div>
  <div class="ui fluid transparent icon input search">
    <input type="text" placeholder="Search 600k+ images">
    <i class="search icon"></i>
  </div>
  <div class="image-bank">
    <div class="ui fluid image preview">
      <a class="ui violet left corner label">
        <i class="check icon"></i>
      </a>
      <img class="selected" src="https://d3ijcis4e2ziok.cloudfront.net/engaging-images-backgrounds/thumbnail/13.jpg" />
    </div>
    <img class="ui medium image preview" src="https://d3ijcis4e2ziok.cloudfront.net/engaging-images-backgrounds/batch-2-thumbnail/18.jpg" />
    <img class="ui medium image preview" src="https://d3ijcis4e2ziok.cloudfront.net/engaging-images-backgrounds/batch-2-thumbnail/42.jpg" />
    <img class="ui medium image preview" src="https://d3ijcis4e2ziok.cloudfront.net/engaging-images-backgrounds/batch-2-thumbnail/7.jpg" />
    <img class="ui medium image preview" src="https://d3ijcis4e2ziok.cloudfront.net/engaging-images-backgrounds/batch-2-thumbnail/3.jpg" />
  </div>
  
  <button class="fluid ui violet basic button">Upload Image</button>
</div>