<div class="ui segment text container bottom attached main-container full-screen">
  <div class="ui left close rail">
    <div class="ui piled segment">
      <h5 class="ui left floated sub header">
        IMAGES
      </h5>
      <div class="ui divider"></div>
      <div class="image-bank">
        {{#each model.photos as |image|}}
          {{image-preview image=image selectImage=(action "testAction" image.regularUrl)}}
        {{/each}}
      </div>
  </div>

  </div>
  
<!-- Right rail --> 
{{postcard-component model=model}}
</div>