<div class="ui attached segment header-title">
  <h3 class="ui center aligned header">
    Templates <i class="chevron down icon downwards"></i>
  </h3>
</div>

<div class="ui segment text container bottom attached main-container">
  <div class="ui left close rail">
    {{image-bank}}
  </div>
  
<!-- Right rail --> 

  <div class="ui right close rail">
    <div class="ui segment">
      <h5 class="ui left floated sub header">
        SIZES
      </h5>
      <div class="ui divider"></div>
      <div class="social-sizes">
        <button class="ui icon basic grey button pin">
          <i class="pinterest icon"></i>
        </button>
        <button class="ui icon basic grey button inst">
          <i class="instagram icon"></i>
        </button>
        <button class="ui icon basic grey button face">
          <i class="facebook icon"></i>
          <i class="twitter icon"></i>
        </button>
      </div>
    </div>
    
    <!-- --> 
    
    <div class="ui segment">
      <h5 class="ui left floated sub header">
        FILTERS
      </h5>
      <h5 class="ui right floated sub header">
        <i class="small refresh icon"></i>RESET
      </h5>
      <div class="ui divider"></div>
      
      <div class="ui middle aligned list">
        <div class="item">
          <div class="right floated content">
            <i class="chevron down icon"></i>
          </div>
          <img class="ui mini circular image" src="https://static.buffer.com/images/pablo/filters-example-light-contrast.jpg" />
          <div class="content">
              <div class="ui sub header">Light Contrast</div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- --> 
    
    <div class="ui segment">
      <h5 class="ui left floated sub header">
        TEXT
      </h5>
      <div class="ui divider"></div>
      <div class="social-sizes">
        <button class="ui icon basic grey button text-button">
          <span class="text-style">Header</span>
        </button>
        <button class="ui icon basic grey button text-button">
          <span class="text-style">Body</span>
        </button>
        <button class="ui icon basic grey button text-button">
          <span class="text-style">Caption</span>
        </button>
      </div>
      <div class="ui divider" style="margin-bottom: 0px!important;"></div>
      <div class="ui secondary menu">
        <a class="item">
          Add Quotes
        </a>
        <div class="right menu">
          <a class="ui item">
            <div class="mini ui buttons">
              <button class="ui violet left attached basic button"><i class="arrow left icon"></i></button>
              <button class="ui violet right attached basic button"><i class="arrow right icon"></i></button>
            </div>
          </a>
        </div>
        </div>
    </div>
    
    <!-- --> 
    
    <div class="ui segment">
      <h5 class="ui left floated sub header">
        LOGO
      </h5>
      <div class="ui divider"></div>
      <button class="fluid ui button">Insert logo or container</button>
    </div>
    
    <button class="fluid ui violet button">Share & Download</button>

    
    <!-- --> 
  </div>
  <div class="ui basic clearing segment">
  <h5 class="ui left floated sub header">
    CANVAS
  </h5>
  <h5 class="ui right floated sub header">
    <i class="huge move icon"></i> REPOSITION
  </h5>
  </div>
  
  <img class="main-body" src=""/>
  
</div>