<div class="ui segment text container bottom attached main-container full-screen">
  <div class="ui left close rail">
    <div class="ui piled segment">
      <h5 class="ui left floated sub header">
        IMAGES
      </h5>
      <div class="ui divider"></div>
      <div class="image-bank">
        {{!-- This is the left photo bank. It pulls in the photos from the router and passes each one to the image-preview component --}}
        {{#each model.photos as |image|}}
          {{image-preview image=image selectImage=(action "testAction" image.regularUrl)}}
        {{/each}}
      </div>
  </div>

  </div>
  
{{!-- As most of the logic is related I put everything into a wrapper component here, passing the entire model in. --}}
{{postcard-component model=model}}
</div>